<h1>Angular Squares !</h1>


<div class="container app-container">
  <div class="row app-row">
    <div class="col-8 component-container">
      <app-square-container
        (clicked)="onSquareClick($event)"
      >
      </app-square-container>
    </div>
    <div class="col-4 component-container">
      <app-square-history
        [lastClicked]="lastClickedSquareName"
      >
      </app-square-history>
    </div>
  </div>
  <div class="row app-row">
    <div class="col-12 component-container">
      <app-last-square
        [selectedColor]="getCurrentColor()"
      >

      </app-last-square>
    </div>
  </div>
  <div class="row app-row">
    <div class="col-12 component-container">
      <app-blue-square></app-blue-square>
    </div>
  </div>
</div>
